################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/WebApplication/.vs/WebApplication
/WebApplication/WebApplication/obj
/WebApplication/WebDatabase/obj
/WebApplication/WebLibrary/obj
/WebApplication/WebService/obj
/WebApplication/WebApplication/bin/Debug/netcoreapp3.1
/WebApplication/WebDatabase/bin/Debug/netstandard2.1
/WebApplication/WebLibrary/bin/Debug/netstandard2.1
/WebApplication/WebService/bin/Debug/netstandard2.1
